:root {
    --green: #1F5924;
    --bk: #E5E5E5;
    --bk-menu: #F8FBF4;
    --red: #D95736;

}
/* || CSS reset */
button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    font: initial;
    padding: 0px;
    border: none;
  
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}

/* || General styles*/

body {
    font-family: 'Rubik', sans-serif;
    /*background-color: var(--bk);
    background: url("./images/dot-grid.png");
    background-repeat: repeat;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    font-size: 16px;
}
body::before {
    content: "";
    background-color: var(--bk);
    background: url("./images/dot-grid.png");
    background-repeat: repeat;
    mix-blend-mode: normal;
    z-index: -1;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

li {
	list-style-type: none;
}
ul {
	padding-left: 0px;
}
html {
	box-sizing: border-box;
	/* text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased; */
	scroll-behavior: smooth;
}
html:focus-within {
    scroll-behavior: smooth;
}
h1, h2 {
    font-family: 'Bree Serif', serif;
}

/* || NAVIGATION */

.logo img {
    width: 229px;
    position: absolute;
    top: 50%;
    left: 146px;
    transform: translateY(-20px);
}
.navMenu a {
	text-decoration: none;
	color: var(--green);
}
.navMenu {   
	font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.navMenu ul {
    width: 574px;
    display: flex;
    justify-content: space-between;
    margin-right: 143px;
    margin-top: 32px; 
}
.navBar {
    width: 100%;
    height: 90px;
    position: sticky;
    background: var(--bk-menu);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}

/* || MAIN CONTENT */

.homepage-hero {
    display: grid;
    grid-template-columns: 540px 580px;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    margin-right: 140px;
}
.homepage h1{
    color: var(--green);
    font-size: 43px;
    line-height: 51px;/* or 113% */
    letter-spacing: 0.01em;
}
.span1::after{
    content: ",";
    color: var(--red);
    font-size: 43px;
    line-height: 48px;/* or 113% */
    letter-spacing: 0.01em;
}
.span1 {
    font-size: 43px;
    line-height: 100.8%;
    letter-spacing: 0.01em;
    color: var(--red);
}
.homepage h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--green);
}
.homepage h2::after{
    content: ".";
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 41px;
    color: var(--green);
}
.cta-home {
    width: 178px;
    height: 41px;
    background-color: var(--green);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 1;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}
.hero-image img {
    margin-top: 6px;
}
/* 		===================================
			  START OF MEDIA QUERIES*
        ==================================
*/
/* /

/* 		========================
		    DESKTOP 1920px
        ========================
*/
@media (min-width:1441px) {
.homepage {
    width: 86.7%;
    margin-left: 146px;
    margin-right: 140px;
}

}


/* 		========================
		    DESKTOP 1440px
        ========================
*/
@media screen and (min-width:1280px) and (max-width:1440px) {
.homepage {
    width: 80%;
    margin-left: 146px;
    margin-right: 140px;
}

}
