:root {
    --green: #1F5924;
    --bk: #E5E5E5;
    --bk-menu: #F8FBF4;

}
/* || CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* || General styles*/

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--bk);
    background-image: url("./images/dot-grid.png");
    background-repeat: repeat;
    mix-blend-mode: normal;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    font-size: 16px;
}

li {
	list-style-type: none;
}
ul {
	padding-left: 0px;
}
html {
	box-sizing: border-box;
	/* text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased; */
	scroll-behavior: smooth;
}
html:focus-within {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Rubik', sans-serif;
}

/* || NAVIGATION */

.logo img {
    width: 229px;
    position: absolute;
    top: 50%;
    left: 146px;
    transform: translateY(-20px);
}
.navMenu a {
	text-decoration: none;
	color: var(--green);
}
.navMenu {   
	font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.navMenu ul {
    width: 574px;
    display: flex;
    justify-content: space-between;
    margin-right: 143px;
    margin-top: 32px;
    
}
.navBar {
    width: 100%;
    height: 90px;
    position: sticky;
    background: var(--bk-menu);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}
